/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
html {
    color-scheme: dark;
}
  
body {
    --ion-background-color: #00001b;
    --ion-background-color-rgb: 0, 0, 27;
    background: var(--ion-background-color);
}

.custom-toolbar {
    --border-color: grey;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 1rem;
    position: relative;
  
    ion-title.center-title {
      flex: 1;
      text-align: center;
      font-weight: bold;
      color: #f5e8bf;
      font-size: 2rem;
      margin: 0;
    }
  
    ion-buttons {
      display: flex;
      align-items: center;
      z-index: 1;
    }

    .add-button{
        background-color: #5758ff;
        border-radius: 2rem;
        font-weight: bold;
        width: 5rem;
        margin-left: 1rem;
    }
}
